@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-modal .ant-modal-content {
	@apply bg-slate-800 rounded-lg text-white;
}
.custom-modal .ant-modal-close-icon {
	@apply text-white;
}
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}